<a href="https://colab.research.google.com/github/Zukhrufaa-Memon/DSA_Lab_Task/blob/main/20sw076(lab2_tasks).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#task 1:
points=174
if points>=1 and points<=50:
 result="Congratulations! you won a wooden rabbit!"
elif points>=51 and points<=150:
 result="Oh dear, no prize this time"
elif points>=151 and points<=180:
 result="Congratulations! you won a wafer-thin mint!"
elif points>=181 and points<=200:
 result="Congratulations! you won a penguin!"
else :
 print("Invalid input!")

print(result)

Congratulations! you won a wafer-thin mint!

In [31]:
#task 2:
answer = 120
guess = 50
if guess < answer:
 result="Oops!  Your guess was too low."
elif guess > answer:
 result="Oops!  Your guess was too high."
elif guess==answer:
 result="Nice!  Your guess matched the answer!"
print(result)

Oops!  Your guess was too low.

In [36]:
#task 3:
purchase=1516
state='CA'
if state=='CA':
 tax=0.075
elif state=='MN':
 tax=0.095
elif state=='NY':
 tax=0.089
result=purchase*tax
print("Total Amount is: "+str(purchase+result))

Total Amount is: 1629.7

In [37]:
#task 4:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
  print(word)
print("done")

the
quick
brown
fox
jumped
over
the
lazy
dog
done

In [44]:
#task 5:
result=[x for x in range(1,35) if x % 5==0 ]
for num in result:
 print(num)

5
10
15
20
25
30

In [53]:
#task 6:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names=[(fullnames.split()[0]).lower() for fullnames in names]
first_names

['rick', 'morty', 'summer', 'jerry', 'beth']

In [56]:
#task 7:
multiples_3=[num for num in range(1,21) if num%3==0]
multiples_3

[3, 6, 9, 12, 15, 18]

In [68]:
#task 8:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
    }
passed=[name for name,score in scores.items() if score>=65 ]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [70]:
#task 9:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast=dict(zip(cast_names,cast_heights))
cast

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [100]:
#task 10:
#When you use enumerate with a list, it returns an iterator that provides tuples
#containing two values for each element in the list:
##The first value is the index of the current element.(i)
#The second value is the actual element from the list.(casts)

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin",
        "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for i,casts in enumerate(cast):
  cast[i]+=str(heights[i])
print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']