In [1]:
#task1
name="zukhrufa"
roll_no="20sw076"
print("my name is"+name+" my age is {}".format(20))

my name iszukhrufa my age is 20

In [52]:
#task2
myvar="aisha muzaffar"
print("Capitalize: "+myvar.capitalize())
print("casefold: "+myvar.casefold())
print("center: "+myvar.center(30,'$'))
print(myvar.count('a',0,13))
print(myvar.encode(encoding='utf-8', errors='strict'))
print(myvar.endswith('r',0,14))
print(myvar.find('is',0,14))
print(myvar.isspace())

myvar2='zee\tmemon\tabc'
print(myvar2.expandtabs(2))

#usage of functions with string
intro="this is zukhrufa Memon"
intro.split()

#usage of functions with string
'~'.join(['zee','is','my','nickname'])

Capitalize: Aisha muzaffar
casefold: aisha muzaffar
center: $$$$$$$$aisha muzaffar$$$$$$$$
4
b'aisha muzaffar'
True
1
False
zee memon abc

'zee~is~my~nickname'

In [28]:
#task#3 (august)
month = 7
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
days=days_in_month[month]
print(days)

31

In [48]:
#task4
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009','July 11, 2010',
                 'November 13, 2012', 'March 20, 2015','March 9, 2016']
eclipse_dates[7:10]     #to index 10, bcoz it dont include element on the right

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [59]:
#task5 use of nested dictionary
dict={"20SW028":{"Aiman","Manahil","3rd year"},
      "20SW076":{"Zee","Memon","3rd year"}}
print(dict["20SW028"])

{'3rd year', 'Aiman', 'Manahil'}